<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/particles.css">
    <link rel="stylesheet" href="../static/css/animaçoes.css">

</head>

<body>

    <header>
        <div class="logo">
            <img src="../static/img/logo.png" alt="" style="height: 170px;width: 400px;margin-top: 17px;z-index: 1;">
        </div>
        <div class="login">
            {% if 'user' in session or 'admin' in session %}
            {% if 'admin' in session %}
            <a href="/"><button>HOME</button></a>
            <a href="/dashboard"><button style="height: 50px;">AREA ADM</button></a>
            {% else %}
            {% endif %}
            <a href="/logout"><button class="LOGOUT">LOGOUT ◁</button></a>
            {% else %}
            <a href="/login"><button class="LOGIN">LOGIN ▷</button></a>
            {% endif %}
            {% if 'user' in session or 'admin' in session %}
            <h1>{{ session['nome'] }}</h1>
            <img src="/static/uploads/{{ session['foto_de_perfil'] if session.get('foto_de_perfil') else 'default.png' }}"
                alt="Foto de perfil" style="height: 70px; width: 70px; border-radius: 50%; object-fit: cover;">
            {% else %}
            <h2>Visitante</h2>
            <img src="/static/img/foto de perfil.jpg" alt="Foto padrão" style="height: 70px; border-radius: 70%;">
            {% endif %}

        </div>


    </header>

    <main>

        {% block conteudo %}
        {% endblock %}

    </main>

    </div>
    <footer>
        <p>© 2025 - Todos os direitos reservados</p>
    </footer>

</body>

</html>