{% extends 'base.html' %}
{% block conteudo %}

<div id="login">
    <div class="img-login"></div>
    <form class="form-login" action="/login" method="POST">

        <h1 style="text-align: center;"> LOGIN </h1>

        {% with msg = get_flashed_messages()|first %}
        {% if msg %}
        <p style="color: red;">{{msg}}</p>
        {% endif %}
        {% endwith %}

        <input type="text" name="user" placeholder="Usuário" required>

        <div class="password-container">
            <input type="password" name="senha" id="senha" placeholder="Senha" required>
            <span class="toggle-password" onclick="togglePasswordVisibility(this)"></span>
        </div>
        <p style="text-align: center;font-size: 15px;">Nao tem cadastro? <a href="/cadastro"
                style="text-decoration: none;font-size: 15px;">cadastrar-se</a></p>

        <button class="botao-login">LOGIN</button>

    </form>
    <div id="particles-js"></div>

    <script src="../static/js/particles.js"></script>
    <script src="../static/js/app.js"></script>
    <script src="../static/js/password.js"></script>
</div>
{%endblock %}